<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0">
	<notifications newPostNotificationTemplateId="3c987d6c-cfbc-603d-8b6e-ff000091ef7f" newThreadNotificationTemplateId="3d987d6c-cfbc-603d-8b6e-ff000091ef7f" />
</forumsConfig>