<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6000.0" dateCreated="2016-03-22 09:52:51Z">
	<defaultSite id="93d7783c-08fc-41c9-880f-6b3b84f1823b" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>